<template>
<div>
  <div v-if="this.$route.name === 'mainTreatment'" class="row zap_treatmentlist">
    <div v-for="item in featuredTreatment.data" :key="item.id" class="q-my-md col-12">
      <router-link :to="/treatments/ + item.id">
        <q-card class="my-card">
          <q-img :ratio="16/9" v-bind:src="'http://mobiapps2.zapclinic.com' + item.img_en_url" />
          <div class="q-pa-md">
            <div class="text-center subheading">{{ item.caption_en }}</div>
          </div>
        </q-card>
      </router-link>
    </div>
    <router-view />
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      featuredTreatment: {}
    }
  },
  async mounted() {
    const response = await axios.get('http://mobiapps2.zapclinic.com/api/service/list_category')
    this.featuredTreatment = response.data
  }
}
</script>

<style>
.zap_treatmentlist a {
  text-decoration: none;
  color: #333;
}
</style>
