<template>
  <q-page-container>
    <q-header reveal class="bg-green">
      <q-toolbar class="text-white">
        <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
        <q-toolbar-title class="zap_toolbartitle">
          ZAP Outlets
        </q-toolbar-title>
      </q-btn>
    </q-toolbar>
  </q-header>
    <div class="absolute-top" style="background: url(statics/greenline.png) center bottom no-repeat; min-height: 120px;">
    </div>
    <q-card flat class="bg-transparent">
      <img src="statics/zapoutlets.png">
    </q-card>
    <div class="text-h5 text-center">
      <div>
        <q-item-label>Lokasi Outlet</q-item-label>
        <q-item-label class="text-subtitle1">Temukan outlet ZAP di seluruh Indonesia</q-item-label>
      </div>
    </div>
    <q-page>
      <OutletCity />
    </q-page>
  </q-page-container>
  </template>

  <script>
  import OutletCity from 'components/outlet/OutletCity.vue'

  export default {
    mounted() {
      document.addEventListener("deviceready", onDeviceReady, false);
      function onDeviceReady() {
          if (cordova.platformId == 'android') {
              StatusBar.backgroundColorByHexString("#4caf50");
          }
      }
    },
    components: {
      OutletCity
    },
    methods: {
      refresh (done) {
        setTimeout(() => {
          done()
        }, 1000)
      }
    }
  }
  </script>
