<template>
<q-page-container>
    <q-header elevated reveal class="bg-green">
    <q-toolbar class="text-white">
      <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
      <q-toolbar-title class="zap_toolbartitle">
        {{ itemProduct.title }}
      </q-toolbar-title>
      <q-btn flat round icon="more_vert">
        <q-menu auto-close>
          <q-list dense style="min-width: 170px">
            <q-item clickable>
              <q-item-section>Bagikan</q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section>Laporkan</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </q-header>
  <div class="row">
    <div class="col-12">
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
      <q-img v-if="itemProduct" :ratio="1/1" v-bind:src="'/api' + itemProduct.image.url" />
    </transition>
    </div>
  </div>
  <div class="itemdetails q-pa-lg q-mb-xl">
    <div class="itemdetails">
      <div class="subheading text-bold">{{ itemProduct.title }}</div>
      <div class="subheading text-bold">Price: IDR {{ itemProduct.price }}</div>
      <vue-markdown v-if="itemProduct" class="q-pa-xs">{{ itemProduct.body }}</vue-markdown>
    </div>
        <q-separator class="q-my-sx" />
        <div class="text-h6 text-bold q-py-sm">Syarat & Ketentuan Pembelian</div>
  </div>

  <div class="fixed-bottom bg-transparent text-grey-2">
      <div class="row bg-green text-center">
        <div class="col-2">
          <q-btn flat class="q-pa-md full-width" icon="home" to="/" />
        </div>
        <div class="col-3">
          <q-btn @click="showNotif('top')" flat class="q-pa-md full-width" icon="fas fa-heart"> </q-btn>
        </div>
        <div class="col bg-red">
          <q-btn @click="persistent = true" flat class="q-pa-md full-width" label="Beli Sekarang"/>
        </div>
      </div>
  </div>
  <q-dialog v-model="persistent" persistent>
    <q-card>
      <q-toolbar>
        <q-icon name="fa fa-shopping-cart" size="20px" />
        <q-toolbar-title><span class="text-weight-bold">Add to Shopping Cart</span></q-toolbar-title>
        <q-btn flat round dense icon="close" v-close-popup />
      </q-toolbar>

      <q-card-section>
        <form class="" method="post" @submit.prevent="buyNow">

        <div class="row row-fluid">
          <div class="col-8 text-bold text-uppercase">Item</div>
          <div class="col-4 text-bold text-uppercase">Qty</div>
        </div>
        <q-separator class="q-my-md" />
        <div class="row row-fluid">
          <div class="col-8">
            {{ itemProduct.title }}
          </div>
          <div class="col-4">
            <vue-numeric-input
              v-model="productqty"
              :min="1"
              :max="100"
              :step="1"
              size="80px"
              >
            </vue-numeric-input>
          </div>
        </div>
        <div class="row row-fluid">
          <q-btn
            to="/cart"
            color="red"
            class="full-width q-mt-md"
            label="Add to cart"
            @click="addToCart(itemProduct.id)"
            />
        </div>
      </form>
      </q-card-section>
    </q-card>
  </q-dialog>
</q-page-container>
</template>

<script>
import axios from 'axios'
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  data() {
    return {
      productqty: 1,
      model: 1,
      persistent: false,
      dialog: false,
      maximizedToggle: true,
      itemProduct: '',
      tab: "details"
    }
  },
  methods: {
    showNotif () {
      this.$q.notify({
        message: 'Product telah ditambahkan ke favorit',
        timeout: 1500,
        position: 'center',
      })
    }
  },
  async mounted() {
    let uri = "/api/products/" + this.$route.params.id;
      axios.get(uri).then(response => {
      this.itemProduct = response.data
    })
  },
  created(){
    this.addToCart();
  },
  methods: {
    addToCart(){
    }
  }
}
</script>

<style>
.my-card {
  width: 100%;
  max-width: 500px;
}
</style>
