// app global css

p
li
  font-size: 15px
  line-height: 23px

.bg-zap
  background: #fcfcfc

.q-layout
  background: #f5f6fa

.q-page-container
  background: #f5f6fa

.q-tab-panels
  background: #f5f6fa

.subheading
  font-size: 18px
  font-weight: 500
  color: #333

.title
  font-size: 15px
  font-weight: 500

.zap_list a
  text-decoration: none
  color: #333

.mainnav
  font-size: 15px

.mainnav .q-router-link--active
  color: #fff

.mainnav .q-router-link--exact-active
  color: #fff
  font-weight: 600

.compactnav .q-item.q-router-link--active
  color: #fff
  font-weight: 600

.q-footer
  border-top: 1px solid #ccc

.zap_footer i
  font-size: 1.5em

.zap_footer .q-tab__label
  font-size: 12px
  text-transform: Capitalize

.zap_footer .q-tab
  padding: 0px 12px

.zap_footer .q-tab--active .q-tab__indicator
      opacity: 0

.zap_toolbartitle
  font-size: 16px
  font-weight: 500
  color: #eee

.q-toolbar
  padding: 12px

.bg-zap_pagetitle
  background: url("../statics/transparent.png") center center repeat
  opacity: 0.5

.zap_compactnav .q-item
  min-height: 20px

.zap_launcher a
  text-decoration: none
  color: #333

.q-icon
  clear: both

.zap_border
  width: 107px
  height: 80px
  border-radius: 10px

.zap_cartheading
  font-weight: 500
  text-transform: uppercase
  color: green

.zap_cartheading .q-item__section--side
    color: #333

.zap_profile .profile_name
  font-weight: 500

.zap_profile .edit_profile a
  text-decoration: none
  color: #eee
  font-size: 14px
  font-weight: 400
  font-style: italic

.zap_profile .membership, .zap_profile .point
  font-weight: bold

.zap_treatmentlist a
  text-decoration: none
  color: #333

.zap_pglistcontainer
  padding-top:0

.zap_promolist a
  text-decoration: none
  color: #222

.zap_promolist .title
  line-height: 28px
