<template>
<div class="bg-white q-pb-md q-pt-md q-pl-lg">
  <div class="row q-pl-xs q-pr-lg">
    <div class="col-12 subheading">Nearby Outlets</div>
    <div class="col-12">Visit sekarang ke outlet ZAP terdekatmu</div>
  </div>
  <div class="q-pa-sm">
    <router-link to="/outlets">
    <q-card flat class="bg-transparent">
      <img src="statics/zapoutlets.png">
    </q-card>
  </router-link>
  </div>
</div>
</template>

<script>
</script>

<style>
</style>
