<template>
  <q-page class="bg-zap">
    <HomeHero />
    <HomeLauncher />
    <HomePromo />
    <HomeTreatment />
    <HomeShop />
    <HomeOutlet />
    <HomeNews />
  </q-page>
</template>

<script>

import HomeHero from 'components/HomeHero'
import HomeLauncher from 'components/HomeLauncher'
import HomePromo from 'components/HomePromo'
import HomeTreatment from 'components/HomeTreatment'
import HomeShop from 'components/HomeShop'
import HomeNews from 'components/HomeNews'
import HomeOutlet from 'components/HomeOutlet'

export default {
  components: {
    HomeHero,
    HomeLauncher,
    HomePromo,
    HomeTreatment,
    HomeOutlet,
    HomeShop,
    HomeNews
  }
}
</script>
