<template>
  <q-page-container>
      <div class="absolute-top" style="background: url(statics/greenline.png) center bottom no-repeat; min-height: 120px;">
    </div>
  <q-header reveal class="bg-green">
    <q-toolbar class="text-white">
      <q-btn flat round  icon="arrow_back" @click="$router.go(-1)" />
      <q-toolbar-title class="zap_toolbartitle">
        ZAP Treatments
      </q-toolbar-title>
    </q-toolbar>
  </q-header>
  <q-page padding>
    <div class="q-pl-lg q-pb-lg q-pr-lg q-pr-xs">
      <div class="row zap_treatmentlist">
        <div v-for="item in listTreatments" :key="item.id" class="q-my-md col-12">
          <router-link :to="/treatments/ + item.id" >
            <q-card class="my-card">
              <q-img :ratio="16/9" v-bind:src="'/api' + item.image.url" />
            <div class="q-pa-md">
              <div class="text-center subheading">{{ item.name }}</div>
            </div>
            </q-card>
          </router-link>
        </div>
        <router-view />
        </div>
    </div>
  </q-page>
</q-page-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      listTreatments: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/treatments')
    this.listTreatments = response.data
  }
}
</script>

<style>
</style>
