<template>
  <q-page-container>
    <q-header elevated reveal class="bg-zap_pagetitle">
      <q-toolbar class="text-white">
        <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
        <q-toolbar-title class="zap_toolbartitle">
          {{ itemTreatment.name }}
        </q-toolbar-title>
        <q-btn flat round icon="more_vert">
          <q-menu auto-close>
            <q-list dense style="min-width: 170px">
              <q-item clickable>
                <q-item-section>Bagikan</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Laporkan</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>
    <div class="row">
      <div class="col-12">
        <q-img v-if="itemTreatment" :ratio="4/3" v-bind:src="'/api' + itemTreatment.image.url" />
        <div class="itemdetails">
          <div class="q-gutter-y-md" style="max-width: 600px">
            <div>
              <q-tabs dense v-model="tab" class="text-grey-2" active-color="white" indicator-color="green" align="justify">
                <q-tab name="info" label="Info" class="bg-green text-capitalize" />
                <q-tab name="terms" label="Syarat &amp; Ketentuan" class="bg-green text-capitalize" />
              </q-tabs>
              <q-separator />
              <q-tab-panels v-model="tab" animated>
                <q-tab-panel name="info">
                  <div class="itemdetails q-pa-lg">
                    <div class="subheading text-bold zap_promotitle">{{ itemTreatment.name }}</div>
                    <vue-markdown v-if="itemTreatment" class="zap_md q-pt-sm text-body2">{{ itemTreatment.body }}</vue-markdown>
                    <q-separator class="q-my-lg"/>
                    <div class="subheading text-center text-bold">Harga mulai dari {{ itemTreatment.id }}</div>
                  </div>
                </q-tab-panel>
                <q-tab-panel name="terms">
                  <div class="itemdetails q-pa-lg">
                    <p>Syarat & Ketentuan</p>
                    <ol>
                      <li>Voucher akan dikirimkan maksimum 2x24 jam setelah pembayaran diterima</li>
                      <li>Paket dapat digunakan diseluruh ZAP Premiere &amp; ZAP Clinic</li>
                      <li>Masa berlaku paket adalah 40 hari setelah pemakaian pertama</li>
                      <li>Batas akhir penukaran voucher adalah 31 Juli 2019</li>
                      <li>Untuk alasan apapun penukaran Gift Certificate yang telah melebihi masa waktu tidak dapat dilakukan</li>
                      <li>Voucher dapat ditukarkan diseluruh ZAP Premiere &amp; ZAP Clinic</li>
                      <li>Setiap klien baru diwajibkan melakukan konsultasi dengan dokter pada kunjungan pertama (biaya Rp.50.000)</li>
                      <li>Refund tidak berlaku untuk kondisi apapun apabila transaksi telah selesai dilakukan dengan alasan apapun</li>
                    </ol>
                  </div>
                </q-tab-panel>
              </q-tab-panels>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-bottom bg-transparent text-grey-2">
      <div class="row bg-green text-center">
        <div class="col-2">
          <q-btn flat class="q-pa-md full-width" icon="home" to="/" />
        </div>
        <div class="col-3">
          <q-btn @click="showNotif('top')" flat class="q-pa-md full-width" icon="fas fa-heart"> </q-btn>
        </div>
        <div class="col bg-red">
          <q-btn @click="persistent = true" flat class="q-pa-md full-width" label="Booking Sekarang"/>
        </div>
      </div>
    </div>
    <q-dialog
    v-model="persistent"
    persistent
    :maximized="maximizedToggle"
    >
    <q-stepper
    v-model="step"
    ref="stepper"
    animated
    contracted
    >
    <q-step
    :name="1"
    title="Pilih Paket"
    :done="step > 1"
    >
    <q-card>
      <q-toolbar>
        <q-toolbar-title><span class="text-weight-bold">Pilih</span> Paket</q-toolbar-title>
        <q-btn flat round dense icon="close" v-close-popup />
      </q-toolbar>
      <q-card-section>
        <div class="row row-fluid">
          <div class="col-5 text-bold text-uppercase">Item</div>
          <div class="col-4 text-bold text-uppercase">Price</div>
        </div>
        <q-separator class="q-my-md" />
        <div class="row row-fluid">
          <div class="col-5">
            {{ itemTreatment.name }}
            <q-item-label caption lines="2">Durasi 30 menit</q-item-label>
          </div>
          <div class="col-4">
            Rp. 125.000
          </div>
          <div class="col-3">
            <q-checkbox v-model="check1" />
          </div>
        </div>
        <div class="row row-fluid">
          <div class="col-5">
            {{ itemTreatment.name }}
            <q-item-label caption lines="2">Durasi 1 jam</q-item-label>
          </div>
          <div class="col-4">
            Rp. 250.000
          </div>
          <div class="col-3">
            <q-checkbox v-model="check2" />
          </div>
        </div>
        <div class="row row-fluid">
          <div class="col-5">
            {{ itemTreatment.name }}
            <q-item-label caption lines="2">Durasi 2 jam</q-item-label>
          </div>
          <div class="col-4">
            Rp. 250.000
          </div>
          <div class="col-3">
            <q-checkbox v-model="check3" />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-step>
  <q-step
  :name="2"
  title="Pilih Outlet"
  :done="step > 2"
  >
  <q-toolbar>
    <q-toolbar-title><span class="text-weight-bold">Pilih</span> Outlet</q-toolbar-title>
    <q-btn flat round dense icon="close" v-close-popup />
  </q-toolbar>
  <div class="q-pa-md" style="max-width: 300px">
    <div class="q-gutter-md">
      <q-select square outlined v-model="outlet" :options="options" label="ZAP Location" />
    </div>
  </div>
</q-step>
<q-step
:name="3"
title="Pilih tanggal"
:done="step > 3"
>
<q-toolbar>
  <q-toolbar-title><span class="text-weight-bold">Pilih</span> Tanggal</q-toolbar-title>
  <q-btn flat round dense icon="close" v-close-popup />
</q-toolbar>
<div class="q-gutter-md">
  <div class="q-gutter-xs row items-start">
    <q-date
    v-model="date"
    color="green"
    minimal
    />
  </div>
</div>
</q-step>
<q-step
:name="4"
title="Pilih jam"
to="/cart"
>
<q-toolbar>
  <q-toolbar-title><span class="text-weight-bold">Pilih</span> Jam</q-toolbar-title>
  <q-btn flat round dense icon="close" v-close-popup />
</q-toolbar>
<div class="row q-gutter-md flex-center">
  <q-btn class="col-3" label="13.00" color="white text-grey-7" />
  <q-btn class="col-3" label="14.00" color="white text-grey-7" />
  <q-btn class="col-3" label="15.00" color="white text-grey-7" />
  <q-btn class="col-3" label="16.00" color="white text-grey-7" />
  <q-btn class="col-3" label="17.00" color="white text-grey-7" />
  <q-btn class="col-3" label="18.00" color="white text-grey-7" />
</div>
</q-step>
<template v-slot:navigation>
  <q-stepper-navigation>
    <q-btn @click="$refs.stepper.next()"
    color="red" class="full-width q-mt-md"
    label="Lanjutkan" :label="step === 4 ? 'Selesai' : 'Lanjutkan'" />
    <q-btn v-if="step > 1" flat color="red"
      @click="$refs.stepper.previous()" label="Kembali" class="full-width q-mt-md" />
    </q-stepper-navigation>
  </template>
</q-stepper>
</q-dialog>
</q-page-container>
</template>

<script>
import axios from 'axios'

import VueMarkdown from 'vue-markdown'
import VueNumericInput from 'vue-numeric-input'

export default {
  components: {
    VueMarkdown,
    VueNumericInput
  },
  data() {
    return {
      itemTreatment: '',
      date: null,
      step: 1,
      check1: true,
      check2: false,
      check3: false,
      value: 1,
      model: 1,
      persistent: false,
      dialog: false,
      maximizedToggle: true,
      tab: 'info',
      id: null,
      outlet: null,
      options: [
        'One Bel Park Mall',
        'Lotte Shopping Avenue',
        'Woltermonginsidi',
        'Emporium Pluit Mall',
        'Mal Kelapa Gading',
        'Muara Karang',
        'Plaza Senayan',
        'AEON Jakarta Garden City'
      ]}
    },
    methods: {
      showNotif () {
        this.$q.notify({
          message: 'Treatment telah ditambahkan ke favorit',
          timeout: 1500,
          position: 'center',
        })
      }
    },
    async mounted() {
    let uri = "/api/treatments/" + this.$route.params.id;
      axios.get(uri).then(response => {
      this.itemTreatment = response.data
    })
  }
}
</script>

<style>
  .my-card {
    width: 100%;
    max-width: 500px;
  }

  .zap_md img {
    width: 100%;
  }
</style>
