<template>
    <q-page-container>
        <div class="absolute-top" style="background: url(statics/greenline.png) center bottom no-repeat; min-height: 120px;">
      </div>
  <q-header reveal class="bg-green">
    <q-toolbar class="text-white">
      <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
      <q-toolbar-title class="zap_toolbartitle">
        ZAP Promo
      </q-toolbar-title>
      </q-btn>
    </q-toolbar>
  </q-header>
  <q-page>
    <div class="q-pl-lg q-pb-lg q-pr-lg q-pr-xs">
      <div class="row">
          <div v-for="item in listPromos.data" :key="item.id" class="q-my-md col-12 zap_promolist">
            <router-link :to="/promos/ + item.id">
              <q-card class="my-card">
                <q-img :ratio="16/9" v-bind:src="'http://dev.zapclinic.com' + item.mobile_img_en">
                  <div class="absolute-bottom bg-transparent">
                    <div class="text-right">
                      <q-btn label="GET PROMO" :to="/promos/ + item.id" color="green" size="sm" />
                    </div>
                  </div>
                </q-img>
                <div class="q-pa-lg">
                  <div class="text-h5 q-pb-sm subheading">{{ item.caption_en }}</div>
                </div>
              </q-card>
            </router-link>
          </div>
        </div>
    </div>
  </q-page>
</q-page-container>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      listPromos: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/promo')
    this.listPromos = response.data
  }
}
</script>
