<template>
  <q-page padding>
    <form v-on:submit.prevent="register">
    <div class="zap_authlogo flex flex-center q-mt-lg">
      <img src="statics/zaplogo.png" />
    </div>
    <div class="zap_authcaption">
      <h3>Register to ZAP Clinic App</h3>
    </div>
    <div class="zap_authopt q-px-lg">
        <q-input
          v-model="user.username"
          id="username"
          type="text"
        />
        <q-input
          v-model="user.email"
          id="email"
          type="email"
        />
        <q-input
          v-model="user.password"
          id="password"
          type="password"
        />
        <q-btn
          class="full-width q-mt-lg"
          size="15px"
          rounded
          color="green"
          label="LOG IN"
          type="submit"
        />
    </div>
    <div class="zap_authreset q-mt-lg text-center">
      <p>Already have account? <router-link to="/login">Login here</router-link></p>
    </div>
  </div>
</div>
</form>
  </q-page>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      user: {
        username: '',
        email: '',
        password: ''
      },
    }
  },
  methods: {
    register() {
        axios.post(`/api/auth/local/register`, this.user)
        .then(res => {
//            localStorage.setItem('jwt',JSON.stringify(res.data))
            this.$router.push({ path: '/login' })
        })
        .catch(error =>{
            console.log(error);
        })
    }
  }
}
</script>

<style>
.zap_authlogo img {
  max-width: 100px;
}
.zap_authcaption h3 {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
}
</style>
