<template>
  <q-page padding>
    <div class="zap_authlogo flex flex-center q-mt-lg">
      <img src="statics/zaplogo.png" />
    </div>
    <div class="zap_authcaption">
      <h3>Proceed with your account</h3>
    </div>
    <div class="zap_authopt q-px-lg">
		<q-card class="auth-tabs">
		  <q-tabs
		    v-model="tab"
		    dense
		    class="text-grey"
		    active-color="green"
		    indicator-color="green"
		    align="justify"
		    narrow-indicator
		  >
		    <q-tab name="login" label="Login" />
		    <q-tab name="register" label="Register" />
		  </q-tabs>

		  <q-separator />

		  <q-tab-panels v-model="tab" animated class="q-pa-md">
		    <q-tab-panel name="login">
		      <login :tab="tab" />
		    </q-tab-panel>

		    <q-tab-panel name="register">
		      <register :tab="tab" />
		    </q-tab-panel>

		  </q-tab-panels>
		</q-card>
    

    </div>
      <div class="zap_authreset q-mt-lg text-center">
      <p>Forget your password? <router-link to="/reset">Click here</router-link></p>
  </div>
  </q-page>
</template>

<script>
export default {
		data () {
	    return {
	      tab: 'login'
	    }
	  },
	  components: {
	  	'login' : require('components/Auth/Login.vue').default,
	  	'register' : require('components/Auth/Register.vue').default
	  }
 }

</script>

<style>
.zap_authlogo img {
  max-width: 100px;
}
.zap_authcaption h3 {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
  padding-top: 0px;
  margin-top: 10px
}
</style>
