<template>
      <div>
        <div class="text-center q-pa-sm text-bold text-h6 text-green">Semarang</div>
        <q-list padding bordered class="rounded-borders bg-green-2 q-mb-sm" v-for="item in allOutlet.data" :key="item.id">
          <q-expansion-item
          dense
          dense-toggle
          expand-separator
          :label="item.name"
          style="color: #3c763d"
          >
          <q-card>
            <q-card-section class="text-grey-8">
              <q-icon name="fas fa-user-md text-green q-pa-md" /> <span class="text-green">Services:</span> <vue-markdown>{{ item.services }}</vue-markdown>
              <q-separator />
              <q-icon name="fas fa-phone text-green q-pa-md" /> <span class="text-green">Phone:</span> <vue-markdown>{{ item.phone }}</vue-markdown>
              <q-separator />
              <q-icon name="fas fa-clock text-green q-pa-md" /> <span class="text-green">Operasional:</span> <vue-markdown>{{ item.open }}</vue-markdown>
              <q-separator />
              <q-icon name="fas fa-home text-green q-pa-md" /> <span class="text-green">Alamat:</span> <vue-markdown>{{ item.addr }}</vue-markdown>
              <q-separator />
              <q-icon name="fas fa-map text-green q-pa-md" /> <span class="text-green">Peta Lokasi: </span> <q-img v-bind:src="'http://zapclinic.com/' + item.image_map" />
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
</template>

<script>
import axios from 'axios';
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  data() {
    return {
      allOutlet: {}
    }
  },
  async mounted() {
    const response = await axios.get('http://mobiapps2.zapclinic.com/api/outlet/outlet_city?city=semarang')
    this.allOutlet = response.data
  }
}
</script>

<style>
</style>
