<template>
  <div>
		<div class="row q-mb-md">
			<q-banner class="bg-grey-3 col">
			  <template v-slot:avatar>
			    <q-icon name="account_circle" color="primary" />
			  </template>
			  Login to access your ZAP account anywhere
			</q-banner>
		</div>
		<div class="row q-mb-md">
      <q-input 
      v-model="email" 
      label="e-mail" 
      class="col" 
      stack-label filled />
			</div>
		<div class="row q-mb-md">
      <q-input 
      v-model="password" 
      class="col" 
      label="Password" 
      stack-label 
      filled 
      type="password" />
		</div>
		<div class="row">
			<q-space />
      <q-btn 				
      color="green"
      label="Log in" 
      @click="signIn" />
	</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
props: ['tab'],
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: mapState({ loginState: state => state.firebaseAuth.loginState }),
  methods: {
    signIn () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(() => {
        // take to some main page, or do something
        this.$router.replace('/')
      }).catch(error => {
        this.$q.notify({ color: 'negative', message: `${error.code}: ${error.message}` })
      })
    },
    redirectToIndex () {
      if (this.$store.state.firebaseAuth.currentUser.emailVerified === true) {
        this.$router.replace('/')
      } else {
        this.$router.replace('/verify_email')
      }
    }
  },
  watch: {
    loginState (newValue, oldValue) {
      console.log(`loginState is Updating from ${oldValue} to ${newValue}`)
      if (newValue === true) {
        this.redirectToIndex()
      }
    }
  },
  mounted () {
    if (this.$store.state.firebaseAuth.loginState === true) {
      this.redirectToIndex()
    }
  }
}
</script>

<style>

</style>