<template>
    <div>
		<div class="row q-mb-md">
			<q-banner class="bg-grey-3 col">
			  <template v-slot:avatar>
			    <q-icon name="account_circle" color="primary" />
			  </template>
			  Register to create your ZAP account today
			</q-banner>
		</div>
        <div class="row q-mb-md">
            <q-input 
                v-model="name" 
                class="col" 
                label="Your name" 
                stack-label 
                filled 
                type="text" />
        </div>
        <div class="row q-mb-md">
            <q-input 
                v-model="email" 
                class="col" 
                label="E-mail" 
                stack-label 
                filled 
                type="email" />
        </div>
        <div class="row q-mb-md">
            <q-input 
                v-model="password" 
                class="col" 
                label="Password" 
                stack-label 
                filled 
                type="password" />
        </div>
        <div class="row q-mb-md">
            <q-input 
                v-model="passwordRepeat" 
                class="col" 
                label="Repeat Password" 
                stack-label 
                filled 
                type="password" />
        </div>
		<div class="row">
			<q-space />
      <q-btn 				
      color="green"
      label="Register" 
      @click="signUp" />
	</div>
    </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'
import { db } from 'firebase/app'

export default {
  name: 'signup',
  data () {
    return {
      name: null,
      email: null,
      password: null,
      passwordRepeat: null
    }
  },
  computed: {
    isValidEmail () {
      let validPattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return validPattern.test(this.email)
    },
    isValidPassword () {
      let validPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
      return validPattern.test(this.password)
    },
    isPasswordRepeated () {
      return this.password === this.passwordRepeat
    }
  },
  methods: {
    signUp () {
      if (!this.isValidEmail) {
        this.$q.notify({ color: 'warning', message: 'Your email doesn\'t look valid.' })
      } else if (!this.isValidPassword) {
        this.$q.notify({ color: 'warning', message: 'Your password is too weak.' })
      } else if (!this.isPasswordRepeated) {
        this.$q.notify({ color: 'warning', message: 'Repeated password doesn\'t match.' })
      } else {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then((user) => {
          db.collection("profiles").doc(user.user.uid).set({
            name: this.name
          })
          console.log(res)
          this.$q.notify({ color: 'positive', message: 'Account is created' })
          this.$router.replace('/verify_email')
          // see res.additionalUserInfo, res.user
        }).catch(error => {
          this.$q.notify({ color: 'negative', message: `${error.code}: ${error.message}` })
        })
      }
    }
  },
  mounted () {
    if (this.$store.state.firebaseAuth.loginState === true) {
      this.$router.replace('/')
    }
  }
}
</script>

<style>
.zap_authlogo img {
  max-width: 100px;
}
.zap_authcaption h3 {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
}
</style>
