<template>
  <q-page-container>
      <div class="q-px-xl q-py-md text-center">
        <q-btn-dropdown color="white" class="text-green full-width" label="Pilih Kota">
        <div class="q-pa-md">
          <q-list>
            <q-item clickable v-close-popup @click="onItemClick" v-for="item in allCity.data" :key="item.id" class="q-pa-sm">
              <q-item-section>
                <q-item-label>{{ item.CITY }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          </div>
        </q-btn-dropdown>
      </div>
</q-page-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      allCity: {}
    }
  },
  async mounted() {
    const response = await axios.get('api/outlet/city')
    this.allCity = response.data
  },
  methods: {
    onItemClick () {
      console.log('Clicked on an Item')
    }
  }
}
</script>

<style>
</style>
