<template>
  <q-page-container>
    <q-header reveal class="bg-green">
      <q-toolbar class="text-white">
        <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
        <q-toolbar-title class="zap_toolbartitle">
          ZAP Outlets
        </q-toolbar-title>
      </q-btn>
    </q-toolbar>
  </q-header>
    <div class="absolute-top" style="background: url(statics/greenline.png) center bottom no-repeat; min-height: 120px;">
    </div>
    <q-card flat class="bg-transparent">
      <img src="statics/zapoutlets.png">
    </q-card>
    <div class="text-h5 text-center">
      <div>
        <q-item-label>Lokasi Outlet</q-item-label>
        <q-item-label class="text-subtitle1">Temukan outlet ZAP di seluruh Indonesia</q-item-label>
      </div>
    </div>
    <q-page>
      <div class="q-pl-lg q-pr-lg">
        <Bali />
        <BandarLampung />
        <Bandung />
        <Batam />
        <Bekasi />
        <Bogor />
        <Cibubur />
        <Jakarta />
        <JakartaBarat />
        <JakartaPusat />
        <JakartaSelatan />
        <JakartaTimur />
        <JakartaUtara />
        <Makassar />
        <Manado />
        <Medan />
        <Palembang />
        <Semarang />
        <Surabaya />
        <Tangerang />
        <Yogyakarta />
      </div>
    </q-page>
  </q-page-container>
  </template>

  <script>
  import Bali from 'components/Outlet/Bali'
  import BandarLampung from 'components/Outlet/BandarLampung'
  import Bandung from 'components/Outlet/Bandung'
  import Batam from 'components/Outlet/Batam'
  import Bekasi from 'components/Outlet/Bekasi'
  import Bogor from 'components/Outlet/Bogor'
  import Cibubur from 'components/Outlet/Cibubur'
  import Jakarta from 'components/Outlet/Jakarta'
  import JakartaBarat from 'components/Outlet/JakartaBarat'
  import JakartaPusat from 'components/Outlet/JakartaPusat'
  import JakartaSelatan from 'components/Outlet/JakartaSelatan'
  import JakartaTimur from 'components/Outlet/JakartaTimur'
  import JakartaUtara from 'components/Outlet/JakartaUtara'
  import Makassar from 'components/Outlet/Makassar'
  import Manado from 'components/Outlet/Manado'
  import Medan from 'components/Outlet/Medan'
  import Palembang from 'components/Outlet/Palembang'
  import Semarang from 'components/Outlet/Semarang'
  import Surabaya from 'components/Outlet/Surabaya'
  import Tangerang from 'components/Outlet/Tangerang'
  import Yogyakarta from 'components/Outlet/Yogyakarta'

  export default {
    mounted() {
      document.addEventListener("deviceready", onDeviceReady, false);
      function onDeviceReady() {
          if (cordova.platformId == 'android') {
              StatusBar.backgroundColorByHexString("#4caf50");
          }
      }
    },
      components: {
      Bali,
      BandarLampung,
      Bandung,
      Batam,
      Bekasi,
      Bogor,
      Cibubur,
      Jakarta,
      JakartaBarat,
      JakartaPusat,
      JakartaSelatan,
      JakartaTimur,
      JakartaUtara,
      Makassar,
      Manado,
      Medan,
      Palembang,
      Semarang,
      Surabaya,
      Tangerang,
      Yogyakarta,
    },
    methods: {
      refresh (done) {
        setTimeout(() => {
          done()
        }, 1000)
      }
    }
  }
  </script>
