<template>
<q-page-container>
  <div class="absolute-top" style="background: url(statics/greenline.png) center bottom no-repeat; min-height: 120px;">
  </div>
    <q-header reveal class="bg-green">
      <q-toolbar class="text-white">
        <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
        <q-toolbar-title class="zap_toolbartitle">
          ZAP News
        </q-toolbar-title>
        </q-btn>
      </q-toolbar>
    </q-header>
  <q-page>
    <div class="q-pl-lg q-pb-lg q-pr-lg q-pr-xs">
      <div v-for="item in listUpdates.data" :key="item.id" class="q-my-md col-12 zap_promolist">
      <router-link :to="/updates/ + item.id">
        <q-card class="my-card">
          <q-img v-bind:src="'/api' + item.main_img">
          </q-img>
          <div class="q-pa-lg">
            <div class="text-h5 q-pb-sm subheading">{{ item.caption_en }}</div>
            <div class="excerpt">Posted on {{ item.created_at }}</div>
          </div>
        </q-card>
      </router-link>
    </div>
    </div>
  </q-page>
</q-page-container>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      listUpdates: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/article/')
    this.listUpdates = response.data
  },
  methods: {
    refresh (done) {
      setTimeout(() => {
        done()
      }, 1000)
    }
  }
}
</script>

<style>

.zap_promolist a {
  text-decoration: none;
  color: #222;
}

.zap_promolist .title {
  line-height: 28px;
}
</style>
