<template>
<q-page-container>
  <q-header elevated reveal class="bg-zap_pagetitle">
    <q-toolbar class="text-white">
      <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
      <q-toolbar-title class="zap_toolbartitle">
        {{ itemUpdate.title }}
      </q-toolbar-title>
      <q-btn flat round icon="more_vert">
        <q-menu auto-close>
          <q-list dense style="min-width: 170px">
            <q-item clickable>
              <q-item-section>Bagikan</q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section>Laporkan</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </q-header>

  <div class="row">
    <div class="col-12">
        <q-img v-if="itemUpdate" v-bind:src="'/api' + itemUpdate.image.url" :height="250"/>
      <div class="itemdetails q-pa-lg">
        <div class="subheading text-bold">{{ itemUpdate.title }}</div>
        <div>Posted by: ZAP on {{ itemUpdate.created_at }} </div>
          <vue-markdown v-if="itemUpdate" class="zap_md q-pt-sm text-body2">{{ itemUpdate.body }}</vue-markdown>
      </div>
    </div>
  </div>
  <div class="absolute-top text-white">
    <div class="row q-pa-md">
      <div class="col-8">
        <q-btn flat round dense icon="arrow_back" @click="$router.go(-1)" />
      </div>
      <div class="col-4 text-right">
        <q-btn flat round dense icon="share" to="#" />
      </div>
    </div>
  </div>
</q-page-container>
</template>

<script>
import axios from 'axios'
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  data() {
    return {
      productqty: 1,
      model: 1,
      persistent: false,
      dialog: false,
      maximizedToggle: true,
      itemUpdate: '',
      tab: "details"
    }
  },
  methods: {
    showNotif () {
      this.$q.notify({
        message: 'Product telah ditambahkan ke favorit',
        timeout: 1500,
        position: 'center',
      })
    }
  },
  async mounted() {
    let uri = "/api/updates/" + this.$route.params.id;
      axios.get(uri).then(response => {
      this.itemUpdate = response.data
    })
  },
}
</script>

<style>
.my-card {
  width: 100%;
  max-width: 500px;
}
</style>
