<template>
<div>
  <q-header elevated>
    <q-toolbar class="bg-white text-green">
      <q-btn flat round dense icon="menu" @click="left = !left" class="q-mr-sm" />
      <q-toolbar-title class="flex flex-center"><img class="zap_logo" src="statics/logo-top.png" /></q-toolbar-title>
      <q-btn flat round dense icon="fas fa-envelope" to="/inbox">
      </q-btn>
    </q-toolbar>
  </q-header>
  <q-drawer v-model="left" side="left" overlay behavior="mobile">
    <q-scroll-area class="bg-green text-grey-3" style="height: calc(100% - 120px); margin-top: 120px;">
      <q-list padding class="mainnav">
        <q-item clickable v-ripple to="/">
          <q-item-section avatar>
            <q-icon font-size="1rem" name="fas fa-home" />
          </q-item-section>
          <q-item-section>
            Beranda
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable v-ripple to="/profile">
          <q-item-section avatar>
            <q-icon font-size="1rem" name="fas fa-user" />
          </q-item-section>
          <q-item-section>
            Profil Saya
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable v-ripple to="/favorit">
          <q-item-section avatar>
            <q-icon font-size="1rem" name="fas fa-heart" />
          </q-item-section>
          <q-item-section>
            Favorit Saya
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable v-ripple to="/giftcard">
          <q-item-section avatar>
            <q-icon font-size="1rem" name="fas fa-gift" />
          </q-item-section>
          <q-item-section>
            Buy Gift Cards
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable v-ripple to="/series">
          <q-item-section avatar>
            <q-icon font-size="1rem" name="fas fa-list-alt" />
          </q-item-section>
          <q-item-section>
            Paket Series ZAP
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable v-ripple  to="/membership">
          <q-item-section avatar>
            <q-icon font-size="1rem" name="fas fa-id-badge" />
          </q-item-section>
          <q-item-section>
            Annual Membership
          </q-item-section>
        </q-item>
        <q-separator />
      </q-list>

      <q-list
      padding
      class="zap_compactnav">
        <q-item clickable v-ripple  to="/settings">
          Settings
        </q-item>
        <q-item clickable v-ripple  to="/about">
          About
        </q-item>
        <q-item clickable v-ripple  to="/faq">
          FAQ
        </q-item>
        <q-item clickable v-ripple  to="/terms">
          Term & Service
        </q-item>
        <q-item clickable v-ripple  @click="signOut">
          Logout
        </q-item>
      </q-list>
    </q-scroll-area>
    <q-img class="absolute-top" src="statics/page_header.jpg" style="height:120px">
      <div class="absolute-top bg-transparent">
        <div class="row q-pt-md">
          <div class="col-4 text-center">
            <q-avatar size="56px">
              <img src="statics/avatar.jpg" width="40px">
            </q-avatar>
          </div>
          <div class="col-8">
            <div class="text-weight-bold text-left">Tyna Kanna Mirdad</div>
            <div class="text-left">Premiere Member</div>
            <div v-if="loginState">
              {{ currentUser.email }}
            </div>

          </div>
        </div>
      </div>
    </q-img>
  </q-drawer>
</div>
</template>

<script>
import { mapState } from 'vuex'
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  data() {
    return {
      left: false
    }
  },
  computed: mapState({
    loginState: state => state.firebaseAuth.loginState,
    currentUser: state => state.firebaseAuth.currentUser
  }), 
  methods: {
    signOut () {
      firebase.auth().signOut()
    }
  }
}
</script>

<style>
</style>
