<template>
  <div class="">
    <div class="">
      <q-carousel
        v-model="slide"
        transition-prev="jump-right"
        transition-next="jump-left"
        swipeable
        animated
        control-color="white"
        prev-icon="arrow_left"
        next-icon="arrow_right"
        navigation-icon="radio_button_unchecked"
        padding
        height="200px"
        class="bg-green text-white"
        infinite
        :autoplay="1500"
      >
        <q-carousel-slide name="style" class="column no-wrap flex-center">
          <q-icon name="style" size="56px" />
          <div class="q-mt-md text-center">
            <div class="text-h6">{{ title1 }}</div>
            <div class="">{{ caption1 }}</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="tv" class="column no-wrap flex-center">
          <q-icon name="live_tv" size="56px" />
          <div class="q-mt-md text-center">
            <div class="text-h6">{{ title2 }}</div>
            <div class="">{{ caption2 }}</div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="layers" class="column no-wrap flex-center">
          <q-icon name="layers" size="56px" />
          <div class="q-mt-md text-center">
            <div class="text-h6">{{ title3 }}</div>
            <div class="">{{ caption3 }}</div>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      slide: 'style',
      autoplay: true,
      title1: 'Promo',
      caption1: 'Potongan harga untuk member',
      title2: 'Treatments',
      caption2: 'Nikmati treatment terbaik kami',
      title3: 'Products',
      caption3: 'Produk perawatan kecantikan terdepan',
    }
  }
}
</script>
