<template>
  <q-page class="bg-zap">
    <div class="text-white zap_profile" style="background: url(statics/page_header.jpg) center center repeat;">
      <div class="row q-pa-lg">
        <div class="col-4">
          <q-avatar circle size="80px">
            <img src="statics/avatar.jpg" />
          </q-avatar>
        </div>
        <div class="col-8">
          <div class="row">
            <div vclass="col-12 profile_name">Tyna Kanna Mirdad</div>
            <div class="col-12 edit_profile">
              <router-link to="#">Edit Profile &raquo;</router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="row q-pl-lg q-pb-md q-gutter-md">
        <div class="col-auto membership">Premiere Member</div>
        <div class="col-4 point">300.000 Points</div>
      </div>
    </div>
    <q-card flat>
      <q-tabs v-model="tab" dense class="text-green-4 bg-white" active-color="green" indicator-color="green">
        <q-tab name="jadwal" label="Jadwal" />
        <q-tab name="membership" label="Membership" />
        <q-tab name="series" label="Series" />
      </q-tabs>
      <q-separator />
      <q-tab-panels v-model="tab" animated class="bg-grey-2">
        <q-tab-panel name="jadwal">
          <div class="q-pa-md">
            <q-list bordered>
              <q-expansion-item
                group="somegroup"
                label="#100402964622 - Booked"
                header-class="text-black bg-green-2"
                caption="Tanggal: 12 Apr 2019 on 20.10 WIB"
                default-open
              >
                <q-card>
                  <q-card-section>
                    Treatment: Face -PRP<br>
                    Staff: dr. Indah Puspita
                  </q-card-section>
                </q-card>
              </q-expansion-item>

              <q-separator />

              <q-expansion-item
              group="somegroup"
              label="#100402956795 Cancelled"
              header-class="text-black bg-green-2"
              caption="Tanggal: 12 Apr 2019 on 20.10 WIB">
                <q-card>
                  <q-card-section>
                    Treatment: Face -PRP<br>
                    Staff: dr. Indah Puspita
                  </q-card-section>
                </q-card>
              </q-expansion-item>

              <q-separator />

              <q-expansion-item
              group="somegroup"
              label="#10040296789 Cancelled"
              header-class="text-black bg-green-2"
              caption="Tanggal: 12 Apr 2019 on 20.10 WIB">
                <q-card>
                  <q-card-section>
                    Treatment: Face -PRP<br>
                    Staff: dr. Indah Puspita
                  </q-card-section>
                </q-card>
              </q-expansion-item>

              <q-separator />

              <q-expansion-item
                group="somegroup"
                label="#10040297890 Cancelled"
                header-class="text-black bg-green-2"
                caption="Tanggal: 12 Apr 2019 on 20.10 WIB"
              >
                <q-card>
                  <q-card-section>
                    Treatment: Face -PRP<br>
                    Staff: dr. Indah Puspita
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
          </div>
        </q-tab-panel>
        <q-tab-panel name="membership">
          <div class="q-pa-lg">
          <div header class="bg-green-2 q-pa-xs">TIPE MEMBER:</div>
          <div class="q-pa-xs">Annual Membership Underarms Hair Removal</div>
          <div class="bg-green-2 q-pa-xs">KEUNTUNGAN MEMBER:</div>
          <div class="row q-pa-xs">
            <div class="col-8">Tipe:<br>Monthly Underarms Hair Removal</div>
            <div class="col-4 text-center">Tersedia</div>
          <div class="col-8">Berlaku untuk:<br>Monthly Underarms Hair Removal</div>
          <div header class="col-4 text-center text-bold text-h4">1</div>
          </div>
        </div>
        </q-tab-panel>
        <q-tab-panel name="series">
          <div class="text-center q-pa-lg">Series kamu belum terisi </div>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      tab: 'jadwal'
    }
  }
}
</script>

<style>
</style>
