<template>
<div class="bg-grey-2 q-pt-lg q-pl-sm">
  <div class="row q-pl-md q-pr-lg zap_section">
    <div class="col-12 subheading">Whats New?</div>
    <div class="col-12">Tips n trick cantik ala ZAP Clinic</div>
  </div>
  <div class="q-pa-md zap_list">
    <q-scroll-area horizontal style="width: 100%;" >
      <div class="row no-wrap">
        <div v-for="item in homeNews" :key="item.id" class="q-pr-lg col-9">
          <router-link :to="/updates/ + item.id">
            <q-card class="">
              <q-img :ratio="4/3" v-bind:src="'/api' + item.image.url" />
              <q-card-section>
                <div class="title">{{ item.title }}</div>
              </q-card-section>
            </q-card>
          </router-link>
        </div>
      </div>
    </q-scroll-area>
  </div>
</div>
</div>
</template>

<script>
import axios from "axios"

export default {
  data() {
    return {
      homeNews: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/updates')
    this.homeNews = response.data
  }
}
</script>

<style>
</style>
