<template>
  <div class="row">
    <div v-for="item in faqtreatmentList.data" :key="item.id" class="col-12">
    <div class="col-12">
        <div class="q-pa-xs" style="max-width: 350px">
            <q-list bordered>
              <q-expansion-item
                group="somegroup"
                :label="item.question_id"
                header-class="bg-green text-white"
                expand-icon-class="text-white"
                default-opened
              >
                <q-card class="bg-green-2">
                  <q-card-section>
                    <vue-markdown>{{ item.answer_id }}</vue-markdown>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
          </div>
    </div>
  </div>
  </div>
</template>
<script>
import axios from 'axios';
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  data() {
    return {
      faqtreatmentList: {}
    }
  },
  async mounted() {
    const response = await axios.get('http://mobiapps2.zapclinic.com/api/FAQ/faq_category?category_id=01')
    this.faqtreatmentList = response.data
  }
}
</script>
