<template>
  <q-page class="flex flex-center">
    <div style="width: 420px; max-width: 100%;">
    <div class="zap_authlogo flex flex-center q-mt-lg">
      <img src="statics/zaplogo.png" />
    </div>
    <div class="zap_authopt q-px-lg q-mt-lg">
      <login-register :tab="tab" />
    </div>
    <div class="zap_authreset q-mt-lg text-center">
      <p>Forget your password? <router-link to="/recover_password">Click here</router-link></p>
    </div>
  </div>
</q-page>
</template>

<script>
export default {
		data () {
	    return {
	      tab: 'register'
	    }
	  },
	  components: {
	  	'login-register' : require('components/Auth/Login.vue').default
	  }
 }

</script>

<style>
.zap_authlogo img {
  max-width: 100px;
}
.zap_authcaption h3 {
  font-size: 1.7em;
  text-align: center;
  font-weight: 500;
}
</style>
