<template>
  <q-page>
    <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="homemain">
          <HomeMain />
        </q-tab-panel>
        <q-tab-panel name="homehistory">
          <HomeHistory />
        </q-tab-panel>
        <q-tab-panel name="homeone">
          <HomeOne />
        </q-tab-panel>
        <q-tab-panel name="homecart">
          <HomeCart />
        </q-tab-panel>
        <q-tab-panel name="homeaccount">
          <HomeAccount />
        </q-tab-panel>
      </q-tab-panels>
      <q-footer class="no-border">
    <q-tabs v-model="tab" class="shadow-3 zap_footer text-grey-7 bg-white" active-color="green">
      <q-tab name="homemain" icon="fas fa-home" replace label="Home" />
      <q-tab name="homehistory" icon="fas fa-list-alt" replace label="History" />
      <q-tab name="homecart" icon="fas fa-shopping-cart" replace label="Cart" />
      <q-tab name="homeaccount" icon="fas fa-user" replace label="Me" />
    </q-tabs>
  </q-footer>
    </q-page>
</template>

<script>
import HomeMain from 'components/HomeMain'
import HomeHistory from 'components/HomeHistory'
import HomeOne from 'components/HomeOne'
import HomeCart from 'components/HomeCart'
import HomeAccount from 'components/HomeAccount'

export default {
  mounted() {
    document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady() {
        if (cordova.platformId == 'android') {
            StatusBar.backgroundColorByHexString("#4caf50");
        }
    }
  },
  components: {
    HomeMain,
    HomeHistory,
    HomeOne,
    HomeCart,
    HomeAccount
  },
  data() {
    return {
      tab: 'homemain'
    }
  }
}
</script>

<style>
.q-tab-panel {
    padding: 0px !important
}
</style>
