<template>
<div class="q-px-md q-pt-md bg-white q-pb-xl">
  <div class="row text-center zap_launcher q-pt-sm">
    <router-link to="/treatments" class="col">
      <div class="q-py-md text-green zap_border">
      <q-icon style="font-size: 3.5rem" name="img:statics/launcher/icon_treatment.png" />
    </div>
    <div class="zap_launchername">Treatments</div>
    </router-link>
    <router-link to="/shop" class="col">
      <div class="q-py-md text-green zap_border">
      <q-icon style="font-size: 3.5rem" name="img:statics/launcher/icon_products.png" />
    </div>
    <div class="zap_launchername">Shop</div>
      </router-link>
    <router-link to="/promos" class="col">
      <div class="q-py-md text-green zap_border">
        <q-icon style="font-size: 3.5em" name="img:statics/launcher/icon_promo.png" />
    </div>
    <div class="zap_launchername">Promo</div>
    </router-link>
  </div>
  <div class="row text-center zap_launcher q-pt-sm q-pb-sm">
    <router-link to="/outlets" class="col">
      <div class="q-py-md text-green zap_border">
      <q-icon style="font-size: 3.5rem" name="img:statics/launcher/icon_outlets.png" /><br>
    </div>
    <div class="zap_launchername">Outlets</div>
    </router-link>
    <router-link to="#" class="col">
      <div class="q-py-md text-green zap_border">
      <q-icon style="font-size: 3.5rem" name="img:statics/launcher/icon_testimonial.png" /><br>
    </div>
    <div class="zap_launchername">Testimonial</div>
    </router-link>
    <router-link to="/updates" class="col">
      <div class="q-py-md text-green zap_border">
      <q-icon style="font-size: 3.5rem" name="img:statics/launcher/icon_news.png" /><br>
    </div>
    <div class="zap_launchername">News</div>
    </router-link>
  </div>
</div>
</template>

<script>
</script>

<style>
.zap_launcher .zap_launchername {
  font-size: 15px;
  font-weight: 600;
  color: #555;
}
</style>
