<template>
<div>
  <div class="row q-pt-lg q-pl-lg q-pr-lg zap_section">
    <div class="col-12 subheading">Rekomendasi Treatment</div>
    <div class="col-12">Perawatan terbaik kecantikanmu</div>
  </div>
  <div class="q-pa-md zap_list q-pb-lg q-mb-sm">
    <q-scroll-area horizontal style="width: 100%;" class="bg-zap">
      <div class="row no-wrap">
        <div v-for="item in homeTreatment.data" :key="item.id" class="q-pa-sm col-9">
          <router-link :to="/treatments/ + item.id">
            <q-card class="my-card">
              <q-img :ratio="4/3" v-bind:src="'http://mobiapps2.zapclinic.com' + item.img_en_url" />
              <q-card-section>
                <div class="title">{{item.caption_en}}</div>
              </q-card-section>
            </q-card>
          </router-link>
        </div>
      </div>
    </q-scroll-area>
  </div>
</div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      homeTreatment: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/service/list_category')
    this.homeTreatment = response.data
  }
}
</script>

<style>
</style>
