<template>
<div class="bg-grey-2 q-pb-lg">
  <div class="row q-mt-xs q-pt-lg q-pl-lg q-pr-lg zap_section">
    <div class="col-12 subheading">Cek Promonya Disini</div>
    <div class="col-12">Potongan harga dan diskon terbaru ZAP</div>
  </div>
  <div class="q-pa-md q-pl-lg zap_list">
    <q-scroll-area horizontal style="width: 100%;" class="bg-transparent">
      <div class="row no-wrap">
        <div v-for="item in homePromos.data" :key="item.id" class="q-pr-md q-pb-xs col-10">
          <router-link :to="/promos/ + item.id">
            <q-card class="my-card">
              <q-img :ratio="16/9" v-bind:src="'http://dev.zapclinic.com' + item.mobile_img_en"></q-img>
              <q-card-section>
                <div class="title">{{item.caption_en}}</div>
              </q-card-section>
            </q-card>
          </router-link>
        </div>
      </div>
    </q-scroll-area>
  </div>
</div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      homePromos: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/promo')
    this.homePromos = response.data
  }
}
</script>

<style>
</style>
