<template>
  <q-page>
    <div class="row">
      <div class="col-12">
        <div class="itemdetails q-pa-md">
          <div class="heading text-bold text-center"><h5>Tentang ZAP</h5></div>
          <div class="q-pa-xs" style="max-width: 350px">
            <q-list bordered>
              <q-expansion-item
              group="somegroup"
              label="Visi"
              header-class="bg-green text-white"
              expand-icon-class="text-white"
              default-opened
              >
              <q-card class="bg-green-2">
                <q-card-section>
                  “Memberikan pengalaman perawatan kecantikan terbaik sebaik mungkin”
                </q-card-section>
              </q-card>
            </q-expansion-item>
          </q-list>
        </div>
        <div class="q-pa-xs" style="max-width: 350px">
          <q-list bordered>
            <q-expansion-item
            group="somegroup"
            label="Misi"
            header-class="bg-green text-white"
            expand-icon-class="text-white"
            default-opened
            >
            <q-card class="bg-green-2">
              <q-card-section>
                “100% Kepuasan Pelanggan”
              </q-card-section>
            </q-card>
          </q-expansion-item>
        </q-list>
      </div>
      <div class="q-pa-xs" style="max-width: 350px">
        <q-list bordered>
          <q-expansion-item
          group="somegroup"
          label="Kultur"
          header-class="bg-green text-white"
          expand-icon-class="text-white"
          default-opened
          >
          <q-card class="bg-green-2">
            <q-card-section>
              Untuk menggapai Visi, Misi, dan Goals ZAP, kami rasakan sangat penting untuk memiliki ‘code of conduct’ maupun kultur yang selalu kami terapkan di perusahaan kami.
              <br>8 kultur yang mempengaruhi kegiatan ZAP adalah:

              <br>- Buatlah orang lain bahagia
              <br>- Tunjukan bahwa kamu peduli
              <br>- Bangun suasana yg menyenangkan dan jadilah kreatif
              <br>- Bangun semangat kerjasama dan suasana kekeluargaan melalui komunikasi yang jujur dan terbuka
              <br>- Lakukan yang terbaik
              <br>- Lakukan hal yang benar
              <br>- Jadilah bertanggung jawab
              <br>- Selalu berfikir jangka panjang
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
    <div class="q-pa-xs" style="max-width: 350px">
      <q-list bordered>
        <q-expansion-item
        group="somegroup"
        label="Janji Kami"
        header-class="bg-green text-white"
        expand-icon-class="text-white"
        default-opened
        >
        <q-card class="bg-green-2">
          <q-card-section>
            Sejak tahun 2009, ZAP Clinic hadir sebagai salah satu klinik kecantikan berbasis laser khusus wanita dengan jumlah cabang terbesar di Indonesia.
            <br><br>ZAP Clinic menggabungkan konsep hospitality dalam pelayanannya sehingga mengedepankan pengalaman pelayanan berbintang, serta perawatan yang aman dengan waktu relatif singkat dan tepat waktu. ZAP Clinic merupakan pioner inovasi untuk klinik kecantikan dengan Sistem Online Terintregrasi (Integrated Online System) yang berlaku di seluruh cabang ZAP Clinic di Indonesia.
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
  </div>
  <div class="q-pa-xs" style="max-width: 350px">
    <q-list bordered>
      <q-expansion-item
      group="somegroup"
      label="Pengalaman"
      header-class="bg-green text-white"
      expand-icon-class="text-white"
      default-opened
      >
      <q-card class="bg-green-2">
        <q-card-section>
          Dengan dukungan teknologi canggih, dokter dan perawat yang profesional, tempat yang nyaman, dan pelayanan yang bersahabat,
          <span class="text-bold">ZAP telah dipercaya untuk melakukan lebih dari 2.000.000 prosedur treatment yang menjadikan ZAP sangat berpengalaman.</span>
        </q-card-section>
      </q-card>
    </q-expansion-item>
  </q-list>
</div>
<div class="q-pa-xs" style="max-width: 350px">
  <q-list bordered>
    <q-expansion-item
    group="somegroup"
    label="Servis"
    header-class="bg-green text-white"
    expand-icon-class="text-white"
    default-opened
    >
    <q-card class="bg-green-2">
      <q-card-section>
        Berawal dari perawatan Hair Removal, kini ZAP bertransformasi menjadi klinik kecantikan yang berbasis laser serta cahaya. ZAP menghadirkan perawatan Photo Facial yang berfungsi untuk memperbaiki kulit dari lapisan paling dalam hingga lapisan terluar. ZAP terus mengembangkan berbagai perawatan kecantikan wajah dan tubuh serta berbagai beberapa produk kecantikan yang sesuai dengan komitmen ZAP untuk memberikan pengalaman treatment kecantikan terbaik.
      </q-card-section>
    </q-card>
  </q-expansion-item>
</q-list>
</div>
<div class="q-pa-xs" style="max-width: 350px">
  <q-list bordered>
    <q-expansion-item
    group="somegroup"
    label="Temukan Kepercayaan Diri Anda dan Buatlah Perbedaan"
    header-class="bg-green text-white"
    expand-icon-class="text-white"
    default-opened
    >
    <q-card class="bg-green-2">
      <q-card-section>
        Sebagai bagian dari Keluarga ZAP Clinic, anda akan merefleksikan nilai-nilai budaya yang mejadikan ZAP Clinic saat ini sebagai klinik kecantikan yang paling berkembang pesat di Indonesia. Di ZAP Clinic anda akan menemukan kepercayaan diri anda untuk setiap hari mampu melampaui kemampuan terbaik anda. Membuat anda ingin selalu menjadi lebih baik. ZAP Clinic adalah tempat bagi para profesional muda yang memiliki hasrat untuk selalu memberikan pelayan yang terbaik dengan selalu memberikan senyuman yang tulus, bersahabat dan keramahtamahan, dilingkungan kerja yang menyenangkan. Bergabunglah sekarang dan follow instagram dan line kami hari ini! kami akan berbagi perjalanan yang tak terlupakan bersama anda
      </q-card-section>
    </q-card>
  </q-expansion-item>
</q-list>
</div>
</div>
</div>
</div>
</q-page>
</template>

<style>
.my-card {
  width: 100%;
  max-width: 500px;
}
</style>
