<template>
<div>
		<div class="row q-mb-md">
			<q-banner class="bg-grey-3 col">
			  <template v-slot:avatar>
			    <q-icon name="account_circle" color="primary" />
			  </template>
			  {{ tab | titleCase }} to access your ZAP account anywhere
			</q-banner>
		</div>
		<div class="row q-mb-md">
			<q-input
				v-model="formData.email"
				:rules="[ val => isValidEmailAddress(val) || 'Please enter a valid email address.']"
				ref="email"
				lazy-rules
				outlined
				class="col"
				label="Email"
				stack-label />
		</div>
		<div class="row q-mb-md">
			<q-input
				v-model="formData.password"
				:rules="[ val => val.length >= 6 || 'Please enter at least 6 characters.']"
				ref="password"
				lazy-rules
				type="password"
				outlined
				class="col"
				label="Password"
				stack-label />
		</div>
		<div class="row">
			<q-space />
			<q-btn
				color="primary"
				:label="tab"
				type="submit" />
		</div>
		</div>
</template>

<script>
	export default {
		props: ['tab'],
		data() {
			return {
				formData: {
					email: '',
					password: ''
				}
			}
		},
		filters: {
			titleCase(value) {
				return value.charAt(0).toUpperCase() + value.slice(1)
			}
		}
	}
</script>