<template>
<q-page-container>
  <q-header elevated reveal class="bg-zap_pagetitle">
    <q-toolbar class="text-white">
      <q-btn flat round icon="arrow_back" @click="$router.go(-1)" />
      <q-toolbar-title class="zap_toolbartitle">
        {{ itemPromo.title }}
      </q-toolbar-title>
      <q-btn flat round icon="more_vert">
        <q-menu auto-close>
          <q-list dense style="min-width: 170px">
            <q-item clickable>
              <q-item-section>Bagikan</q-item-section>
            </q-item>
            <q-item clickable>
              <q-item-section>Laporkan</q-item-section>
            </q-item>
          </q-list>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </q-header>
  <div class="row">
    <div class="col-12">
      <q-img v-if="itemPromo" v-bind:src="'/api' + itemPromo.image.url">
      </q-img>
      <div class="itemdetails">
        <div class="q-gutter-y-md" style="max-width: 600px">
          <div>
            <q-tabs dense v-model="tab" class="text-grey-2" active-color="white" indicator-color="green" align="justify">
              <q-tab name="info" label="Info" class="bg-green text-capitalize" />
              <q-tab name="terms" label="Syarat &amp; Ketentuan" class="bg-green text-capitalize" />
            </q-tabs>
            <q-separator />
            <q-tab-panels v-model="tab" animated>
              <q-tab-panel name="info">
                <div class="itemdetails q-pa-lg">
                  <div class="subheading text-bold zap_promotitle">{{ itemPromo.title }}</div>
                  <vue-markdown v-if="itemPromo" class="zap_md q-pt-sm text-body2">{{ itemPromo.body }}</vue-markdown>
                </div>
              </q-tab-panel>
              <q-tab-panel name="terms">
                <div class="itemdetails q-pa-lg">
                  <p>Syarat & Ketentuan</p>
                  <ol>
                    <li>Voucher akan dikirimkan maksimum 2x24 jam setelah pembayaran diterima</li>
                    <li>Paket dapat digunakan diseluruh ZAP Premiere &amp; ZAP Clinic</li>
                    <li>Masa berlaku paket adalah 40 hari setelah pemakaian pertama</li>
                    <li>Batas akhir penukaran voucher adalah 31 Juli 2019</li>
                    <li>Untuk alasan apapun penukaran Gift Certificate yang telah melebihi masa waktu tidak dapat dilakukan</li>
                    <li>Voucher dapat ditukarkan diseluruh ZAP Premiere &amp; ZAP Clinic</li>
                    <li>Setiap klien baru diwajibkan melakukan konsultasi dengan dokter pada kunjungan pertama (biaya Rp.50.000)</li>
                    <li>Refund tidak berlaku untuk kondisi apapun apabila transaksi telah selesai dilakukan dengan alasan apapun</li>
                  </ol>

                </div>
              </q-tab-panel>
            </q-tab-panels>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom bg-transparent text-grey-2">
    <div class="row bg-green text-center">
      <div class="col bg-green">
        <q-btn to="/products" flat class="q-pa-md full-width" label="Use This Promo" >&nbsp;<i class="fa fa-share"></i></q-btn>
      </div>
    </div>
  </div>
</q-page-container>
</template>

<script>
import axios from 'axios'
import VueMarkdown from 'vue-markdown'

export default {
  components: {
    VueMarkdown
  },
  data() {
    return {
      tab: 'info',
      itemPromo: ''
    }
  },
  async mounted() {
    let uri = "/api/promos/" + this.$route.params.id;
      axios.get(uri).then(response => {
      this.itemPromo = response.data
    })
  }
}
</script>
<style>
.my-card {
  width: 100%;
  max-width: 500px;
}

.zap_meta {
  padding: 0 16px 10px 17px !important;
}

.zap_promotitle {
  line-height: 25px;
}

.q-footer {
  border-top: 0px;
}
</style>
