<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <HeaderDefault />
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import HeaderDefault from 'components/HeaderDefault'

export default {
  name: 'DefaultLayout',
  components: {
    HeaderDefault
  },
  data() {
    return {
    }
  }
}
</script>

<style>
</style>
