<template>
<q-page>
  <div header class="text-h8 text-center text-bold bg-green text-white q-pa-md">
    FREQUENTLY ASKED QUESTIONS
  </div>
  <div>
    <q-scroll-area horizontal style="width: 100%;" class="">
      <q-tabs v-model="tab" dense class="text-green-4" active-color="green" indicator-color="green" align="justify">
        <q-tab name="treatment" label="Treatment" class="q-mb-xs bg-white" />
        <q-tab name="policy" label="Policy & Procedure" class="q-mb-xs bg-white" />
      </q-tabs>
    </q-scroll-area>
  </div>
  <div>
    <q-tab-panels v-model="tab" animated>
      <q-tab-panel name="treatment">
        <Treatment />
      </q-tab-panel>
      <q-tab-panel name="policy">
        <Policy />
      </q-tab-panel>
    </q-tab-panels>
  </div>
</q-page>
</template>

<script>
import Treatment from 'components/Faq/Treatment'
import Policy from 'components/Faq/Policy'

export default {
  components: {
    Treatment,
    Policy
  },
  data() {
    return {
      tab: 'treatment'
    }
  },
  methods: {
    refresh(done) {
      setTimeout(() => {
        done()
      }, 1000)
    }
  }
}
</script>

<style>
.my-card {
  width: 100%;
  max-width: 500px;
}
</style>
