<template>
<div>
  <q-list>
    <q-item-label header class="text-h5">Cart</q-item-label>
    <q-item clickable v-ripple class="zap_cartheading">
      <q-item-section>
        <q-item-label lines="1">Product Item</q-item-label>
      </q-item-section>
      <q-item-section side top>Price</q-item-section>
      <q-item-section side top>Action</q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple>
      <q-item-section>
        <q-item-label lines="1">Product Item</q-item-label>
        <q-item-label caption lines="2">
          1x item @ Rp. 250.00
        </q-item-label>
      </q-item-section>
      <q-item-section side top>Rp. 250.000</q-item-section>
      <q-item-section side top>
        <q-btn size="12px" flat dense round icon="more_vert" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple>
      <q-item-section>
        <q-item-label lines="1">Product Item</q-item-label>
        <q-item-label caption lines="2">
          1x item @ Rp. 250.00
        </q-item-label>
      </q-item-section>
      <q-item-section side top>Rp. 250.000</q-item-section>
      <q-item-section side top>
        <q-btn size="12px" flat dense round icon="more_vert" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple class="zap_cartheading">
      <q-item-section>
        <q-item-label lines="1">Treatment Item</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple>
      <q-item-section>
        <q-item-label lines="1">Treatment Item</q-item-label>
        <q-item-label caption lines="2">
          1x item @ Rp. 250.00
        </q-item-label>
      </q-item-section>
      <q-item-section side top>Rp. 250.000</q-item-section>
      <q-item-section side top>
        <q-btn size="12px" flat dense round icon="more_vert" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple>
      <q-item-section>
        <q-item-label lines="1">Treatment Item</q-item-label>
        <q-item-label caption lines="2">
          1x item @ Rp. 250.00
        </q-item-label>
      </q-item-section>
      <q-item-section side top>Rp. 250.000</q-item-section>
      <q-item-section side top>
        <q-btn size="12px" flat dense round icon="more_vert" />
      </q-item-section>
    </q-item>
    <q-separator />
  </q-list>
  <div class="row q-pa-md text-bold">
    <div class="col-4">
      SUBTOTAL:
    </div>
    <div class="col-8 text-right">
      Rp. 1.500.000
    </div>
  </div>
  <div class="row q-pa-md text-bold">
    <div class="col-12 text-right">
    <q-btn color="green" size="md" to="/order">Checkout&nbsp;&nbsp;<i class="fas fa-check"></i></q-btn>
  </div>
  </div>

</div>
</template>

<style>
</style>
