<template>
<div class="bg-grey-2 q-pt-lg">
  <div class="row q-pl-lg q-pr-lg zap_section">
    <div class="col-12 subheading">Online Shop</div>
    <div class="col-12">Pesan via apps mudah sekarang juga</div>
  </div>
  <div class="q-pa-md zap_list q-mb-md q-pl-lg">
    <q-scroll-area horizontal style="width: 100%;">
      <div class="row no-wrap">
        <div v-for="item in homeShops" :key="item.id" class="q-pr-md q-pb-xs col-9">
          <router-link :to="/shop/ + item.id">
            <q-card>
              <q-img :ratio="1/1" v-bind:src="'/api' + item.image.url" />
              <q-card-section>
                <div class="title">{{item.title}}</div>
                <div class="subtitle">IDR {{item.price}}</div>
              </q-card-section>
            </q-card>
          </router-link>
        </div>
      </div>
    </q-scroll-area>
  </div>
</div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      homeShops: {}
    }
  },
  async mounted() {
    const response = await axios.get('/api/products')
    this.homeShops = response.data
  }
}
</script>

<style>
</style>
