<template>
<div class="q-gutter-md">
  <q-list>
    <q-item-label header class="text-h6">My Order History</q-item-label>
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Message from ZAP</q-item-label>
        <q-item-label caption>Pesan Zap Product, diskon s/d 50rb untukmu</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Lebaran sebentar lagi</q-item-label>
        <q-item-label caption>Topup poin ZAP kamu dapat cashback</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Rate your ZAP Experience</q-item-label>
        <q-item-label caption>How many stars would you give to our services</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Tarif baru ZAP Clinic</q-item-label>
        <q-item-label caption>Pesan Zap Product, diskon s/d 50rb untukmu</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Message from ZAP</q-item-label>
        <q-item-label caption>Pesan Zap Product, diskon s/d 50rb untukmu</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Rate your ZAP Experience</q-item-label>
        <q-item-label caption>How many stars would you give to our services</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Message from ZAP</q-item-label>
        <q-item-label caption>Pesan Zap Product, diskon s/d 50rb untukmu</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Rate your ZAP Experience</q-item-label>
        <q-item-label caption>How many stars would you give to our services</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Message from ZAP</q-item-label>
        <q-item-label caption>Pesan Zap Product, diskon s/d 50rb untukmu</q-item-label>
      </q-item-section>
    </q-item>
    <q-separator spaced />
    <q-item clickable v-ripple>
      <q-item-section avatar top>
        <q-avatar icon="email" color="green" text-color="white" />
      </q-item-section>
      <q-item-section>
        <q-item-label lines="1">Message from ZAP</q-item-label>
        <q-item-label caption>Pesan Zap Product, diskon s/d 50rb untukmu</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</div>
</template>
